In [1]:
import urllib.request
import json
import csv

In [ ]:
"/us/daily" #historic US values
"/us/current" #current US values

"/states/daily" # historic values for all states
"/states/current" #current values for all states

"/states/ca/current" #current values for a single state
"/states/ca/daily" #historic values for a single state

"/states/ca/20200501" #values for a single state on a specific date

# current data

In [2]:
url="https://api.covidtracking.com/v1/states/current.json"
f=urllib.request.urlopen(url)
data=f.read().decode("utf-8")
readfile=json.loads(data)

In [3]:
with open('covid.csv','w',newline='') as coviddata:
    csvwriter=csv.writer(coviddata)
    count=0
    for result in readfile:
        if count==0:
            header=result.keys()
            csvwriter.writerow(header)
            count+=1
        csvwriter.writerow(result.values())

# history data

In [2]:
url="https://api.covidtracking.com/v1/states/daily.json"
f=urllib.request.urlopen(url)
data=f.read().decode("utf-8")
readfile=json.loads(data)

In [3]:
with open('covid_history.csv','w',newline='') as coviddata:
    csvwriter=csv.writer(coviddata)
    count=0
    for result in readfile:
        if count==0:
            header=result.keys()
            csvwriter.writerow(header)
            count+=1
        csvwriter.writerow(result.values())

# history data + Sample hotel data

In [4]:
import pandas as pd
import numpy as np

## history data-covid

In [5]:
covid =  pd.read_csv("covid_history.csv")

In [6]:
covid.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210211,AK,54134.0,NaN,NaN,NaN,totalTestsViral,1577356.0,33.0,1227.0,...,54134,0,3,9bde9e7688ef2df020f5194474be7cce451af917,0,0,0,0,0,NaN
1,20210211,AL,477570.0,102824.0,1836625.0,NaN,totalTestsPeopleViral,2211371.0,1281.0,43906.0,...,2314195,133,221,243e7ec9a9859fad20d054cd855496c6af9e9a5f,0,0,0,0,0,NaN
2,20210211,AR,311043.0,64454.0,2316686.0,NaN,totalTestsViral,2563275.0,712.0,14255.0,...,2627729,25,44,43a63659cb0009325dbe62edbddf8d30e632f740,0,0,0,0,0,NaN
3,20210211,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,f9af3096de9a7a18426442a07acd27ac851f35e6,0,0,0,0,0,NaN
4,20210211,AZ,791106.0,52978.0,2855265.0,NaN,totalTestsViral,7105696.0,2507.0,55272.0,...,3646371,200,184,edf01773882f81a0ff47a4fd11097f5b24b3b5d3,0,0,0,0,0,NaN

In [8]:
#covid.info()

In [7]:
covid['date2']=pd.to_datetime(covid['date'], format='%Y%m%d')

In [8]:
covid['year'] = covid['date2'].apply(lambda x: x.year)
covid['month'] = covid['date2'].apply(lambda x: x.month)
covid['day'] = covid['date2'].apply(lambda x: x.day)

In [9]:
covid=covid.groupby(['state','year','month']).head(1)

In [10]:
covid=covid.drop(['date', 'date2','day'], axis=1)

In [11]:
covid.head()

,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,...,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade,year,month
0,AK,54134.0,NaN,NaN,NaN,totalTestsViral,1577356.0,33.0,1227.0,NaN,...,3,9bde9e7688ef2df020f5194474be7cce451af917,0,0,0,0,0,NaN,2021,2
1,AL,477570.0,102824.0,1836625.0,NaN,totalTestsPeopleViral,2211371.0,1281.0,43906.0,NaN,...,221,243e7ec9a9859fad20d054cd855496c6af9e9a5f,0,0,0,0,0,NaN,2021,2
2,AR,311043.0,64454.0,2316686.0,NaN,totalTestsViral,2563275.0,712.0,14255.0,256.0,...,44,43a63659cb0009325dbe62edbddf8d30e632f740,0,0,0,0,0,NaN,2021,2
3,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,NaN,...,0,f9af3096de9a7a18426442a07acd27ac851f35e6,0,0,0,0,0,NaN,2021,2
4,AZ,791106.0,52978.0,2855265.0,NaN,totalTestsViral,7105696.0,2507.0,55272.0,719.0,...,184,edf01773882f81a0ff47a4fd11097f5b24b3b5d3,0,0,0,0,0,NaN,2021,2

In [14]:
covid.columns

Index(['state', 'positive', 'probableCases', 'negative', 'pending',
       'totalTestResultsSource', 'totalTestResults', 'hospitalizedCurrently',
       'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative',
       'onVentilatorCurrently', 'onVentilatorCumulative', 'recovered',
       'dataQualityGrade', 'lastUpdateEt', 'dateModified', 'checkTimeEt',
       'death', 'hospitalized', 'dateChecked', 'totalTestsViral',
       'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral',
       'deathConfirmed', 'deathProbable', 'totalTestEncountersViral',
       'totalTestsPeopleViral', 'totalTestsAntibody', 'positiveTestsAntibody',
       'negativeTestsAntibody', 'totalTestsPeopleAntibody',
       'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
       'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen',
       'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 'positiveIncrease',
       'negativeIncrease', 'total', 'totalTestResultsIncrease', 'posNeg',
       'deathIncrease', 'hospitalizedIncrease', 'hash', 'commercialScore',
       'negativeRegularScore', 'negativeScore', 'positiveScore', 'score',
       'grade', 'year', 'month'],
      dtype='object')

## covid with new case

In [12]:
covid2=covid[['state','year','month','positive','negative','hospitalized','recovered','death',]]

In [13]:
covid2.tail()

      state  year  month  positive  negative  hospitalized  recovered  death
19244    WA  2020      2      18.0       NaN           NaN        NaN    5.0
19392    FL  2020      1       0.0       NaN           NaN        NaN    NaN
19393    MA  2020      1       NaN       NaN           NaN        NaN    NaN
19394    VA  2020      1       NaN       NaN           NaN        NaN    NaN
19395    WA  2020      1       2.0       NaN           NaN        NaN    NaN

## Sample hotel data

In [14]:
sample =  pd.read_excel("Sample hotel data.xlsx")

In [15]:
sample.head()

,KL_Submarket_Code,KL_Submarket_Name,Month,Year,Rate Category,Data Type,Guest_Paid_ADR,Hotel_Collected_ADR,COPE_ADR,Occupancy,Guest_Paid_RevPAR,Hotel_Collected_RevPAR,COPE_RevPAR,Guest_Paid_Revenue,Hotel_Collected_Revenue,COPE_Revenue,Actualized_Room_Nights,Available_Room_Nights
0,SUBMK_SAMPLE,Orlando FL,1,2015,AAA,Historical,153.02,152.76,141.56,0.04,6.40,6.39,5.92,1275745.45,1273586.26,1180149.07,8337,199392
1,SUBMK_SAMPLE,Orlando FL,2,2015,AAA,Historical,161.74,161.28,149.60,0.04,6.84,6.82,6.33,1232302.58,1228765.08,1139790.04,7619,180096
2,SUBMK_SAMPLE,Orlando FL,3,2015,AAA,Historical,168.74,168.22,156.03,0.05,8.21,8.19,7.60,1637919.25,1632869.87,1514586.32,9707,199392
3,SUBMK_SAMPLE,Orlando FL,4,2015,AAA,Historical,168.88,168.33,156.41,0.05,8.30,8.27,7.69,1601695.10,1596428.55,1483363.82,9484,192960
4,SUBMK_SAMPLE,Orlando FL,5,2015,AAA,Historical,178.92,178.41,165.71,0.05,9.00,8.98,8.34,1795438.65,1790356.25,1662899.69,10035,199392

In [16]:
a=sample['KL_Submarket_Name'].str.rsplit(pat=" ",n=1,expand=True)

In [17]:
sample['state']=a[1]

In [18]:
sample['city']=a[0]

In [19]:
sample.head()

,KL_Submarket_Code,KL_Submarket_Name,Month,Year,Rate Category,Data Type,Guest_Paid_ADR,Hotel_Collected_ADR,COPE_ADR,Occupancy,Guest_Paid_RevPAR,Hotel_Collected_RevPAR,COPE_RevPAR,Guest_Paid_Revenue,Hotel_Collected_Revenue,COPE_Revenue,Actualized_Room_Nights,Available_Room_Nights,state,city
0,SUBMK_SAMPLE,Orlando FL,1,2015,AAA,Historical,153.02,152.76,141.56,0.04,6.40,6.39,5.92,1275745.45,1273586.26,1180149.07,8337,199392,FL,Orlando
1,SUBMK_SAMPLE,Orlando FL,2,2015,AAA,Historical,161.74,161.28,149.60,0.04,6.84,6.82,6.33,1232302.58,1228765.08,1139790.04,7619,180096,FL,Orlando
2,SUBMK_SAMPLE,Orlando FL,3,2015,AAA,Historical,168.74,168.22,156.03,0.05,8.21,8.19,7.60,1637919.25,1632869.87,1514586.32,9707,199392,FL,Orlando
3,SUBMK_SAMPLE,Orlando FL,4,2015,AAA,Historical,168.88,168.33,156.41,0.05,8.30,8.27,7.69,1601695.10,1596428.55,1483363.82,9484,192960,FL,Orlando
4,SUBMK_SAMPLE,Orlando FL,5,2015,AAA,Historical,178.92,178.41,165.71,0.05,9.00,8.98,8.34,1795438.65,1790356.25,1662899.69,10035,199392,FL,Orlando

## join

In [20]:
covid2.shape

(683, 8)

In [21]:
sample.shape

(1596, 20)

In [22]:
c=sample.merge(covid2, left_on=['state','Year','Month'], right_on=['state','year','month'], how='left') #left

In [23]:
c.shape

(1596, 27)

In [24]:
c.tail()

,KL_Submarket_Code,KL_Submarket_Name,Month,Year,Rate Category,Data Type,Guest_Paid_ADR,Hotel_Collected_ADR,COPE_ADR,Occupancy,...,Available_Room_Nights,state,city,year,month,positive,negative,hospitalized,recovered,death
1591,SUBMK_SAMPLE,Tulsa OK,8,2021,Senior/AARP,Predicted,172.64,172.62,161.16,0.01,...,209901,OK,Tulsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,SUBMK_SAMPLE,Tulsa OK,9,2021,Senior/AARP,Predicted,182.73,182.72,170.78,0.01,...,203130,OK,Tulsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,SUBMK_SAMPLE,Tulsa OK,10,2021,Senior/AARP,Predicted,191.55,191.54,179.36,0.01,...,209901,OK,Tulsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1594,SUBMK_SAMPLE,Tulsa OK,11,2021,Senior/AARP,Predicted,182.02,182.00,169.85,0.01,...,203130,OK,Tulsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,SUBMK_SAMPLE,Tulsa OK,12,2021,Senior/AARP,Predicted,170.70,170.68,159.26,0.01,...,209901,OK,Tulsa,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
c=c.drop(['month','year'],axis=1)

In [26]:
c.columns

Index(['KL_Submarket_Code', 'KL_Submarket_Name', 'Month', 'Year',
       'Rate Category', 'Data Type', 'Guest_Paid_ADR', 'Hotel_Collected_ADR',
       'COPE_ADR', 'Occupancy', 'Guest_Paid_RevPAR', 'Hotel_Collected_RevPAR',
       'COPE_RevPAR', 'Guest_Paid_Revenue', 'Hotel_Collected_Revenue',
       'COPE_Revenue', 'Actualized_Room_Nights', 'Available_Room_Nights',
       'state', 'city', 'positive', 'negative', 'hospitalized', 'recovered',
       'death'],
      dtype='object')

In [26]:
c.shape

(1596, 25)

In [27]:
data=c.sort_values(['state','city','Year','Month'])

In [28]:
data=data.fillna(0)

In [29]:
## create new columns
data['new_positive']=data['positive'].diff(1)
data['new_negative']=data['negative'].diff(1)
data['new_hospitalized']=data['hospitalized'].diff(1)
data['new_recovered']=data['recovered'].diff(1)
data['new_death']=data['death'].diff(1)

In [30]:
data=data.fillna(0)

In [31]:
#set the new columns which is in next month = 0
now=pd.to_datetime('now')
a=now.month+1
b=now.year

In [32]:
col=['new_positive','new_negative','new_hospitalized','new_recovered','new_death']

In [34]:
for i in col:
    data[i][(data['Year']==b) & (data['Month']==a)]=0

In [36]:
data.describe()

,Month,Year,Guest_Paid_ADR,Hotel_Collected_ADR,COPE_ADR,Occupancy,Guest_Paid_RevPAR,Hotel_Collected_RevPAR,COPE_RevPAR,Guest_Paid_Revenue,...,positive,negative,hospitalized,recovered,death,new_positive,new_negative,new_hospitalized,new_recovered,new_death
count,1596.000000,1596.000000,1596.000000,1596.000000,1596.000000,1596.000000,1596.000000,1596.000000,1596.000000,1.596000e+03,...,1.596000e+03,1.596000e+03,1596.000000,1.596000e+03,1596.000000,1.596000e+03,1.596000e+03,1596.000000,1596.000000,1596.000000
mean,6.500000,2018.000000,159.746911,153.443434,144.201516,0.038972,7.261447,7.095940,6.679373,1.451563e+06,...,5.311322e+04,1.855926e+05,1441.907268,1.615077e+04,851.004386,1.249783e+04,3.398895e+04,272.407268,4073.043860,181.951754
std,3.453135,2.000627,56.929305,58.086591,52.563943,0.043100,9.046532,8.956461,8.394566,1.801123e+06,...,2.617410e+05,8.618610e+05,7080.547811,1.094469e+05,3881.366927,6.610039e+04,1.489222e+05,1272.772737,26692.304799,856.469311
min,1.000000,2015.000000,0.280000,0.280000,0.130000,0.000000,0.000000,0.000000,0.000000,3.083100e+02,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,-9.686860e+05,-627.000000,-5538.000000,0.000000
25%,3.750000,2016.000000,127.115000,113.262500,109.362500,0.010000,0.950000,0.870000,0.820000,1.910567e+05,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
50%,6.500000,2018.000000,170.995000,160.475000,150.940000,0.020000,2.680000,2.610000,2.450000,5.387872e+05,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
75%,9.250000,2020.000000,198.280000,196.475000,184.852500,0.062500,11.277500,10.782500,10.080000,2.242038e+06,...,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
max,12.000000,2021.000000,308.810000,308.410000,267.250000,0.220000,54.940000,54.880000,51.310000,1.060122e+07,...,3.371556e+06,8.758076e+06,76587.000000,2.184719e+06,45456.000000,1.032411e+06,1.781537e+06,15507.000000,524492.000000,15311.000000

In [37]:
data.tail(15)

,KL_Submarket_Code,KL_Submarket_Name,Month,Year,Rate Category,Data Type,Guest_Paid_ADR,Hotel_Collected_ADR,COPE_ADR,Occupancy,...,positive,negative,hospitalized,recovered,death,new_positive,new_negative,new_hospitalized,new_recovered,new_death
1077,SUBMK_SAMPLE,Salt Lake City UT,10,2020,Opaque OTA,Predicted,107.46,78.35,76.16,0.0,...,114656.0,932163.0,5463.0,84101.0,604.0,41614.0,185218.0,1616.0,28960.0,145.0
1078,SUBMK_SAMPLE,Salt Lake City UT,11,2020,Opaque OTA,Predicted,146.71,111.12,106.95,0.0,...,195706.0,1139688.0,8135.0,134296.0,871.0,81050.0,207525.0,2672.0,50195.0,267.0
1079,SUBMK_SAMPLE,Salt Lake City UT,12,2020,Opaque OTA,Predicted,153.51,115.82,112.06,0.0,...,276612.0,1302491.0,10956.0,224439.0,1269.0,80906.0,162803.0,2821.0,90143.0,398.0
1080,SUBMK_SAMPLE,Salt Lake City UT,1,2021,Opaque OTA,Predicted,152.88,116.05,112.45,0.0,...,346624.0,1435468.0,13468.0,306385.0,1665.0,70012.0,132977.0,2512.0,81946.0,396.0
1081,SUBMK_SAMPLE,Salt Lake City UT,2,2021,Opaque OTA,Predicted,118.70,92.76,89.04,0.0,...,358581.0,1477067.0,14054.0,328315.0,1774.0,11957.0,41599.0,586.0,21930.0,109.0
1082,SUBMK_SAMPLE,Salt Lake City UT,3,2021,Opaque OTA,Predicted,144.56,115.61,110.20,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1083,SUBMK_SAMPLE,Salt Lake City UT,4,2021,Opaque OTA,Predicted,128.19,102.82,97.77,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1084,SUBMK_SAMPLE,Salt Lake City UT,5,2021,Opaque OTA,Predicted,136.58,105.64,101.52,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1085,SUBMK_SAMPLE,Salt Lake City UT,6,2021,Opaque OTA,Predicted,143.67,112.88,107.78,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1086,SUBMK_SAMPLE,Salt Lake City UT,7,2021,Opaque OTA,Predicted,170.69,133.81,127.16,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1087,SUBMK_SAMPLE,Salt Lake City UT,8,2021,Opaque OTA,Predicted,172.96,136.79,129.85,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1088,SUBMK_SAMPLE,Salt Lake City UT,9,2021,Opaque OTA,Predicted,173.22,137.09,129.71,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1089,SUBMK_SAMPLE,Salt Lake City UT,10,2021,Opaque OTA,Predicted,182.74,140.34,134.68,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1090,SUBMK_SAMPLE,Salt Lake City UT,11,2021,Opaque OTA,Predicted,177.13,135.15,129.84,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1091,SUBMK_SAMPLE,Salt Lake City UT,12,2021,Opaque OTA,Predicted,175.76,132.87,128.37,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0